<!-- <div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a [routerLink]="['/edit', user.id]" class="btn btn-info btn-sm">Edit</a>
                    <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/add" class="btn btn-primary mt-3">Add New User</a>
</div> -->


<!-- demo-1 -->
<!-- <div class="container mt-4">
    <h2 class="text-center">User List</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="align-middle">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <a [routerLink]="['/edit', user.id]" class="btn btn-info btn-sm mx-1">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm mx-1">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center mt-3">
        <a routerLink="/add" class="btn btn-primary btn-lg">
            <i class="fas fa-user-plus"></i> Add New User
        </a>
    </div>
</div> -->


<!-- demo-2 -->
<!-- user-list.component.html -->
<div class="container mt-4">
    <h2>User List</h2>

    <!-- Search Input Field -->
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search users by name or email"
                [(ngModel)]="searchTerm" />
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filter users based on search term -->
            <tr *ngFor="let user of filteredUsers()">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a [routerLink]="['/edit', user.id]" class="btn btn-info btn-sm">Edit</a>
                    <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <a routerLink="/add" class="btn btn-primary mt-3">Add New User</a>
</div>